<h1>Resource not found</h1>
<p>The URL you attempted to request doesn't exist.</p>
<p>URL: {{url}}</p>
{{#if referrer}}
    <p>Referrer: {{referrer}}</p>
{{/if}}
<p>Request ID: {{req_id}}</p>
<p>Timestamp: {{timestamp}}</p>